// Authored by Joe Kohlmann
// These stylesheets use Compass <http://compass-style.org/>
@import compass/reset
@import compass/utilities
@import compass/utilities/text/ellipsis.sass
@import blueprint
// Joe's Stuff
@import _mixins.sass

// This design's (numerous) parameters
@import _parameters.sass

// Opera 10 still places an ugly dotted outline around things.
*:focus, input:focus, input[type="button"]:focus, *:active, input:active
    outline: 0 !important

body
    +fontGillSans
    background= !bgColorBody
    font-size= !stdFontSize
    margin: 0
    min-width= !bodyWidth + 2 * !stdPadding
    padding: 0

#headerWrap
    background= image_url("bg-header.gif") "repeat-x"
    width: 100%
    height= !headerInteriorHeight
    padding-bottom= !headerPadding
    #header
        margin: 0 auto
        position: relative
        width= !actualWidth
    h1 a
        +inline-block
        +replace-text("logo-header.gif", "0", "16px")
        width= !headerGraphicWidth
        height= !headerInteriorHeight
        margin-left= !headerSideOffset - 2px
    #homeLinkWrap
        left= !headerSideOffset
    p
        color: #fff
        background= image_url("tagline.gif") "no-repeat"
        text-shadow: 0 -1px 0 rgba(0,0,0,0.35)
        font-size: 10px
        width: 212px
        overflow: hidden
        height: 28px
        position: absolute
        top= !headerButtonTopOffset - 3px
        right: 237px
        line-height= !interfaceFontSize
        text-align: center
        text-transform: uppercase
        text-indent: -9999px
    #searchForm
        background= image_url("search.gif") "no-repeat"
        width: 159px
        height: 28px
        text-align: left
        position: absolute
        // The arbitrary pixel values below for the padding around the graphics used.
        top= !headerButtonTopOffset - 3px
        right= !headerSideOffset - 2px
        #searchBox, #searchBox:focus
            +fontGillSans
            background: transparent
            color= !textColor
            text-align: left
            border: 0
            font-size= !interfaceFontSize
            // Made slightly higher to make the line-height align correctly
            // in IE8, Safari4, and Firefox 3.5
            height= !interfaceFontSize + 2px
            line-height= !interfaceFontSize + 2px
            width: 102px
            margin: 6px 0 6px 13px
            padding: 0
            &.placeholder
                color= !textColorGray
        #searchSubmit input
            border: 0
            padding: 0
            width: 44px
            height: 28px
            background= image_url("search.gif") "no-repeat top right"
            text-indent: -9999px
            // IE 7 Fixes
            line-height: 0px
            font-size: 0px
            position: absolute
            right: 0
            top: 0
            &:focus
                background-position: right bottom
                -ms-background-position-x: -115px
                -ms-background-position-y: -28px
            &:active
                background-position: right bottom
                -ms-background-position-x: -114px
                -ms-background-position-y: -27px
            &:active:focus
                -ms-background-position-x: -114px
                -ms-background-position-y: -27px
    #homeLink
        background= !bgColorNavButton image_url("nav-buttons.gif") "no-repeat center -96px"
        color= !textColor
        text-transform: uppercase
        &:hover, &:focus
            background-position: center -128px
        &:active
            background-position: center -160px

#navigation
    !navLinkBgOffset = (6 * !navButtonHeight)
    +column(!blueprint_grid_columns)
    +etchedText
    +fontGillSans
    background= image_url("bg-content.gif") "no-repeat top left"
    // float: left
    font-size= !interfaceFontSize
    :margin
        top=    -(!wrapperPadding + !stdPadding)
        right=  -(!wrapperPadding + !stdPadding)
        bottom= !stdPadding
        left=   -(!wrapperPadding + !stdPadding)
    :padding
        top=    (!navMargin + !stdPadding)
        right=  (!navMargin + !stdPadding)
        left=   (!navMargin + !stdPadding)
    width= !bodyWidth - 2 * !navMargin
    overflow: hidden
    li
        display: inline
    a
        background= image_url("nav-buttons.gif") "no-repeat -16px " (0 - !navLinkBgOffset)
        color= !textColor
        float: left
        height= !navButtonHeight
        letter-spacing: 1px
        line-height= !navButtonHeight
        text-align: center
        text-decoration: none
        text-transform: uppercase
        width= !navLinkWidth
        span
            +inline-block
            width= !navLinkWidth - !navBorderWidth
            border-left= !navBorderWidth "solid #fff"
        &:hover, &:focus
            background-position= "-16px " -(!navButtonHeight + !navLinkBgOffset)
        &:active
            background-position= "-16px " -(2 * !navButtonHeight + !navLinkBgOffset)
    li.first a
        margin-left: 0
        background-position= "left " (0 - !navLinkBgOffset)
        span
            border: 0
            width= !navLinkWidth
        &:hover, &:focus
            background-position= "left " -(!navButtonHeight + !navLinkBgOffset)
        &:active
            background-position= "left " -(2 * !navButtonHeight + !navLinkBgOffset)
    li.last a
        background-position= "right " (0 - !navLinkBgOffset)
        // Fixes a width rounding error with 1000px width and 6 items.
        &:hover, &:focus
            background-position= "right  " -(!navButtonHeight + !navLinkBgOffset)
        &:active
            background-position= "right " -(2 * !navButtonHeight + !navLinkBgOffset)

// "+ !stdPadding" accounts for the 16px margin in background images for shadow
#wrapper
    +container
    +fontGeorgia
    background= image_url("bg-content.gif") "repeat-y top right"
    line-height= !stdLineHeight
    :margin
        top=    -(!headerPadding + !stdPadding)
        right:  auto
        bottom: 0
        left:   auto
    :padding
        top=    (!wrapperPadding + !stdPadding)
        right=  (!wrapperPadding + !stdPadding)
        bottom: 0
        left=   (!wrapperPadding + !stdPadding)
    position: relative
    text-align: left
    z-index: 1
    #introduction
        +column(!blueprint_grid_columns)
        p
            margin= -!stdLineHeight " 0 " 1.5*!stdLineHeight
            text-align: center
    #sidebar
        +column(!sidebarCols)
    #content
        +column(!contentCols)
        position: relative
    #advertising
        +column(!advertisingCols, true)
        text-align: center
        padding-bottom= !wrapperPadding
        margin-bottom= -!wrapperPadding
        img
            margin-bottom= !stdPadding
    #introduction p, p.intro
        font-size= !largeFontSize
    a
        color= !textColor
        text-decoration: underline
        &:focus
            background= !bgColorBody
            text-decoration: none
            +borderRadius(4px)
    h2
        font-size= !titleFontSize
        font-weight: normal
        line-height= !titleLineHeight
        text-align: center
    h2, .caption, p
        margin-bottom= !stdLineHeight
    .meta
        +fontGillSans
        letter-spacing: 1px
        color= !textColorGray
        margin= -!stdLineHeight " 0 " !wrapperPadding
        text-align: center
        text-transform: uppercase
        dt, dd
            display: inline
        dd + dt
            margin-left= !stdPadding
        dd
            color= !textColor
    .author
        color= !textColorGray
        font-style: italic
    .caption
        color= !textColorGray
        font-size= !interfaceFontSize
        font-style: italic
        text-align: center
        img
            +inline-block
            height: auto
            margin: 0 auto
            max-width: 100%
        p
            margin: 0
        &.left, &.right
            max-width: 50%
            width: 50%
        &.left
            +inline-block
            float: left
            margin-right= !stdPadding
        &.right
            +inline-block
            float: right
            margin-left= !stdPadding
        &.quote
            font-size= !largeFontSize
        &.sidebar, &.author-pic
            // Fix this
            float: left
            width= !sidebarWidth - !wrapperPadding - !stdPadding
            position: absolute
            left= -!sidebarWidth + !stdPadding
        &.author-pic
            text-align: right
            width: none

// Use navigation backgrounds without rounded bottom corners on the home page.
body#home
    #navigation
        :margin
            bottom= !navBorderWidth
    // !navLinkBgOffset = 2 * (3 * !navButtonHeight)
    .meta
        line-height= !issuePadding
        margin: 0

#issue
    width= !bodyWidth - 2 * !navMargin
    :margin
        top=    !navBorderWidth
        right=  (-!wrapperPadding + !navMargin)
        bottom= !wrapperPadding
        left=   (-!wrapperPadding + !navMargin)
    overflow: hidden
    clear: both
    position: relative
    text-shadow: 0 1px 2px rgba(0,0,0,0.65)
    color: #fff
    .meta
        display: none
        position: absolute
        z-index: 2
        left= !issuePadding
        top= !issuePadding
        &, a
            color= !bgColorWrapper
    .cover, .article
        color= !bgColorWrapper
        display: block
        float: left
        background: #000
        height= (200px - 2 * !issuePadding)
        // overflow: hidden
        position: relative
        text-decoration: none
        border-left= !navBorderWidth " solid " !bgColorWrapper
        border-bottom= !navBorderWidth " solid " !bgColorWrapper
        // :margin
        //     top:    0
        //     right=  0
        //     left=   !navBorderWidth
        //     bottom= !navBorderWidth
        width= !coverWidth
        padding= !issuePadding
        div, img
            width= !coverWidth + (2 * !issuePadding)
        img
            width= 320px
            height= 200px
        div
            background-color: rgba(0, 0, 0, 0.65)
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#A5000000',endColorstr='#A5000000')
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A5000000',endColorstr='#A5000000')"
            :margin
                left= -!issuePadding
                right= -!issuePadding
                top= -!issuePadding
                bottom: 0
            padding= !issuePadding
            position: absolute
            bottom: 0
            z-index: 1
            width= !coverWidth
            
        h2, p
            position: relative
            z-index: 1
            text-align: left
            margin: 0
        h2
            font-size= !issueTitleFontSize
            line-height= !issueTitleFontSize + (!stdPadding / 2)
            max-height= (2 * !issueTitleFontSize) + !stdPadding + 2px
            overflow: hidden
            +ellipsis(false)
        p
            +fontGillSans
            letter-spacing: 1px
            text-transform: uppercase
            overflow: hidden
            +ellipsis(true)
        img
            -webkit-transition: opacity 0.25s ease-in-out
            +opacity(0.85)
            // height: auto
            position: absolute
            left: 0
            top: 0
        &:hover img
            +opacity(1)
    // .cover p
    //     position: absolute
    //     width= !coverWidth
    //     bottom= !issuePadding
    .cover, .article.left
        border-left: 0
    
    .article
        width= !articleWidth
        img
            width= !articleWidth + (2 * !issuePadding)
        div
            width= !articleWidth
        h2
            font-size= !largeFontSize
            line-height: 24px
            max-height= (2 * 24px) + 2px
        p
            width= !articleWidth
        &.left div
            background-image= image_url("corner-bottom-left.png")
            background-repeat: no-repeat
            background-position: left bottom
        &.right div
            background-image= image_url("corner-bottom-right.png")
            background-repeat: no-repeat
            background-position: right bottom
        &.center
            width= !articleWidth + 1px
    

#sidebar
    +etchedText
    +fontGillSans
    background= image_url("bg-sidebar.gif") "no-repeat"
    font-size= !interfaceFontSize
    :margin
        top=    -(!stdPadding / 2)
        right=  !wrapperPadding
        bottom= !wrapperPadding
        left=   -(!wrapperPadding + !stdPadding)
    :padding
        top=    !stdPadding
        left=   (!wrapperPadding + !stdPadding)
    dl#articleList
        background= image_url("bg-sidebar.gif") "no-repeat 0 bottom"
        margin-left= -(!wrapperPadding + !stdPadding)
        padding-bottom= !stdPadding
        dt, dd li a
            background= image_url("bg-sidebar.gif") "repeat-y " -!sidebarWidth " 0"
            color= !textColor
            display: block
            line-height= !sidebarLineHeight
            padding= !sidebarLinkPadding
            padding-left= !stdPadding
            text-decoration: none            
        dt
            text-transform: uppercase
            color= !textColorGray
    
        dd li a
            padding-left= !stdPadding * 2
            &:hover, &:focus, &.current
                background-position= -(2 * !sidebarWidth) "0"
    #addendum
        margin-top= !wrapperPadding - !stdPadding

#footer
    // #footer gets different blueprint parameters...
    // Make sure this is the last blueprint-related mixin used!
    !blueprint_container_size = !bodyWidth - (2 * !stdPadding)
    !blueprint_grid_margin  = !stdPadding
    // Use this to calculate the width based on the total width.
    // Or you can set !blueprint_grid_width to a fixed value and unset !blueprint_container_size -- it will be calculated for you.
    !blueprint_grid_width       = (!blueprint_container_size + !blueprint_grid_margin) / !blueprint_grid_columns - !blueprint_grid_margin
    +shadowedText(-1px)
    +container
    +fontGillSans
    text-transform: uppercase
    line-height= !footerLineHeight
    clear: both
    font-size= !interfaceFontSize
    text-align: center
    color= !bgColorBody
    background= image_url("bg-footer.gif") "repeat-x"
    height= 3 * !footerLineHeight
    overflow: hidden
    padding= !stdPadding
    margin= "0 " -!wrapperPadding
    p
        margin: 0
        
    a
        color: #fff
        text-decoration: underline
        
    #leftInfo
        +column(11)
        text-align: right
        
    #centerInfo
        +column(10)

    #rightInfo
        +column(11, true)
        text-align: left
        padding= (!footerLineHeight / 2) " 0"
        
    #centerInfo
        text-align: center
        
    #contact-email
        height: 17px
        line-height: 0
        margin-left: -2px